<% include partials/header %>

    <div class="container">
        <%if(post.image!=""){ %>

            <div class="row mx-auto">
                <div class="col-lg-7 padr">
                    <img src="<%= post.image %>" class="img-thumbnail img-fluid float-right" id="showPostImg">
                </div>
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><img src="<%= pic %>" class="img-thumbnail rounded-circle postImg" 
                                onerror=this.src='https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png'> <a href="/profile/<%=post.author.username%>" class="link"><%=post.author.username %></a></h5>
                            <p class="card-text"><%= post.text %></p>
                            <h6 class="text-muted">
                                    <%=post.likes.length%> likes   <%=post.comments.length%> Comments 
                                    <span class="float-right time"><%= moment(post.createdAt).fromNow() %>
                                    </span>  
                            </h6>
                            <hr>
                            <% for(let c of post.comments){  %>
                                <p class="postCommentsFont">
                                    <strong>
                                        <%=c.author.username%>
                                    </strong> <%=c.text %> 
                                </p>
                                <span class="text-muted postCommentsFont"><%= moment(c.createdAt).fromNow() %></span>
                                <hr>
                            <% } %>
                            <form action="/post/<%= post._id %>/comment" method="POST">
                                <div class="row">
                                    <div class="col-9 pl-1 pr-1">
                                        <input type="text" name="comment[text]" placeholder="Add a comment" class="form-control">
                                    </div>
                                    <div class="col-3 pl-0">
                                        <button type="submit" class="btn btn-dark">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        <% }else{ %>
            <div class="card mx-auto" id="postComment">
                <div class="card-body pb-0">
                    <h5 class="card-title"><img src="<%= pic %>" class="img-thumbnail rounded-circle postImg" 
                        onerror=this.src='https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png'> <a href="/profile/<%=post.author.username%>" class="link"><%=post.author.username %></a></h5>
                    <p class="card-text"> <%= post.text %> </p> 
                    <h6 class="text-muted">
                        <%=post.likes.length%> likes   <%=post.comments.length%> Comments 
                        <span class="float-right time"><%= moment(post.createdAt).fromNow() %>
                        </span>  
                    </h6>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="list-group-item">
                        <% for(let c of post.comments){  %>
                            <p class="postCommentsFont">
                                <strong><%=c.author.username%></strong> <%=c.text%> 
                            </p>
                            <p class="text-muted postCommentsFont"><%= moment(c.createdAt).fromNow() %></p>
                            <hr>
                        <% } %>

                        <form action="/post/<%= post._id %>/comment" method="POST">
                            <div class="row">
                                <div class="col-9 pl-1 pr-1">
                                    <input type="text" name="comment[text]" placeholder="Add a comment" class="form-control">
                                </div>
                                <div class="col-3 pl-0">
                                    <button type="submit" class="btn btn-dark">Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </ul> 
            </div>

        <%}%>
    </div>

<% include partials/footer %>