<% include partials/header %>


<div class="container">
    <div class="card text-center mx-auto mb-3" style="max-width: 40rem;">
        <div class="card-body">
            <h3 class="card-title">Edit Profile</h3>
            <form action="/profile/<%=user.username%>?_method=PUT" method="POST" 
            enctype="multipart/form-data">
                <div class="container">
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 col-form-label ml-0 pl-0 count ">First Name</label>
                        <div class="col-sm-9 pl-0">
                            <input type="text" name="fname" value="<%= user.fname %>" id="fname" class="form-control">
                        </div> 
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 col-form-label ml-0 pl-0 count">Last Name</label>
                        <div class="col-sm-9 pl-0">
                            <input type="text" name="lname" value="<%= user.lname %>" id="lname" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label ml-0 pl-0 count">E-mail</label>
                        <div class="col-sm-9 pl-0">
                            <input type="text" name="email" value="<%= user.email %>" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-sm-3 col-form-label ml-0 pl-0 count">Profile Picture</label>
                        <div class="col-sm-9 pl-0">
                            <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bio" class="col-sm-3 col-form-label ml-0 pl-0 count">Bio</label>
                        <div class="col-sm-9 pl-0">
                            <textarea name="bio" id="bio" class="form-control"><%= user.bio %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-3 col-form-label ml-0 pl-0 count">Address</label>
                        <div class="col-sm-9 pl-0">
                            <input type="text" name="address" value="<%= user.address %>" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dob" class="col-sm-3 col-form-label ml-0 pl-0 count">Date of Birth</label>
                        <div class="col-sm-9 pl-0">
                            <% if(user.dob && (user.dob.getMonth()+1)<10){ %>
                                <input type="date" name="dob" 
                                value="<%=user.dob.getFullYear()%>-0<%=user.dob.getMonth()+1%>-<%=user.dob.getDate()%>" class="form-control" id="dob">
                            <% }else if(user.dob){ %>
                                <input type="date" name="dob" 
                                value="<%=user.dob.getFullYear()%>-<%=user.dob.getMonth()+1%>-<%=user.dob.getDate()%>" class="form-control" id="dob">
                            <% }else{ %>
                                <input type="date" name="dob" class="form-control" id="dob">
                            <% } %>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>    
    </div>
</div>
<% include partials/footer %>