<% include partials/header %>

    <div class="container find-container">
        <h1>Users</h1>
        <form action="/findFriends" method="GET">
            <div class="row">
                <div class="col-9 pr-1">
                    <input class="form-control" type="search" name="search" placeholder="Search...." aria-label="Search">
                </div>
                <div class="col-3 pl-1">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </div>
            </div>
        </form>
        <%if(result===1){ %>
            <h3 class="mt-5 formHead">No user matched that search. Please try again.</h3>
        <%}%>
        <%if(result===2){ %>
            <h3 class="mt-5 formHead">Search for new friends</h3>
        <%}%>
        <%for(let user of allusers){ %>
           
                <div class="card mt-3">
                    <div class="card-body">
                        <!-- follow button -->
                        <%for(let user_id of User.follow){  %>
                        
                            <%var follow = false; %>
                            <%if(user_id==user._id){ %>
                            <%follow=true; %>
                            <%break;%>
                            <%} %>
                        <%} %>
                       
                        <div class="row">
                            <div class="col-2 px-0"><img src="<%=user.image%>" 
                                class="img-thumbnail rounded-circle findImg" 
                                onerror=this.src='https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png'>
                            </div>
                            <div class="col-7 px-0">
                                <a href="/profile/<%=user.username%>" class="link">   
                                    <h5 class="card-title"><%= user.fname %> <%= user.lname %> </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@<%=user.username%></h6>
                                </a> 
                            </div>
                            <div class="col-3 pl-0 pr-2">
                                <%if(follow){ %>
                                    <form action="/unfollow/<%=user._id%>" method="POST" 
                                        class="inline float-right">
                                        <button class="btn btn-primary ">Following</button>
                                    </form>
                                    
                                <%}else{%>
                                    <form action="/follow/<%=user._id%>" method="POST"
                                        class="inline float-right">
                                        <button class="followBtn btn btn-outline-primary">Follow</button>
                                    </form>
                                <%}%>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
   
        <%}%>
    
    </div>


<% include partials/footer %>

